.banner {
  &__content {
    width: 100%;
    height: 60rem;
    border-radius: 0.8rem;
    margin: 3rem 0;
    background-color: #edf2ee;
    padding-left: 6.5rem;
    display: grid;
    grid-template-columns: 3.7fr 5fr;
    align-items: center;
    column-gap: 2.5rem;
    overflow: hidden;
  }

  &__text-content {
    display: grid;

    .title {
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #00b207;
    }

    h2 {
      color: #1a1a1a;
      font-size: 6rem;
      line-height: 8.6rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    h6 {
      font-size: 3rem;
      font-weight: 400;
      color: #1a1a1a;
      text-transform: capitalize;
      margin-bottom: 1.2rem;

      span {
        font-weight: 600;
        color: #ff8a00;
        text-transform: uppercase;
      }
    }
  }

  &__shipping {
    color: #808080;
    text-transform: capitalize;
    font-size: 1.6rem;
  }

  &__photo {
    img {
      border-radius: 1rem;
      max-width: 96%;
      height: 43rem;
    }
  }
}

.banner__shop-now {
  width: 16.6rem;
  margin-top: 3.2rem;
  border-radius: 4.3rem;
  font-size: 1.4rem;
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  img {
    width: 2.3rem;
    height: 1.5rem;
    transform: translateY(1px);
  }

  &:hover {
    background-color: #2c742f;
  }
}

/////////////////////////////////////
.banner {
  &__content {
    @media (max-width: 900px) {
      grid-template-columns: unset;
      height: max-content;
      padding: 2rem;
      row-gap: 2rem;
    }

    @media (max-width: 768px) {
      margin: 1.5rem 0;
    }
  }

  &__text-content {
    @media (max-width: 768px) {
      text-align: center;
    }

    h2 {
      @media (max-width: 768px) {
        font-size: 4rem;
        line-height: 5rem;
        margin: 1rem 0 0 0;
      }

      @media (max-width: 600px) {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }

    h6 {
      @media (max-width: 600px) {
        margin-bottom: 0.7rem;
        font-size: 2.4rem;
      }
    }
  }

  &__photo {
    img {
      @media (max-width: 900px) {
        max-width: 100%;
      }
      @media (max-width: 768px) {
        max-width: unset;
        width: 100%;
        height: 30rem;
      }
    }
  }

  &__shop-now {
    @media (max-width: 768px) {
      margin: 1rem auto 0;
    }
  }
}
