.order-details {
  display: grid;
  &__info {
    position: relative;
    border-radius: 0.8rem;
    border: 1px solid #e5e5e5;
    overflow: hidden;
  }

  &__error {
    display: grid;
    place-items: center;

    h1 {
      color: red;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid #e5e5e5;

    h2 {
      color: #1a1a1a;
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 500;
    }
    a {
      color: #00b207;
      cursor: pointer;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  &__content {
    &--main {
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }

  &__cancelled,
  &__notes {
    h1 {
      color: #1a1a1a;
      font-weight: 500;
      font-size: 1.7rem;
    }
  }

  &__cancelled {
    margin: 0 2rem 2rem;
    h1 {
      color: red;
    }
  }

  &__notes {
    margin: 0 2rem;

    p {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__address {
    border-radius: 0.6rem;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    height: min-content;

    h4 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.03em;
      color: #999999;
      text-transform: uppercase;
      padding: 1.8rem 2rem;
      font-weight: 500;
      border-bottom: 1px solid #e5e5e5;
    }

    &--item {
      padding: 1rem 2rem;
      display: grid;
      row-gap: 0.6rem;

      span {
        font-size: 1.6rem;
        font-weight: 400;
        color: #666666;
      }

      h5 {
        color: #1a1a1a;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }

  &__date {
    border: 1px solid #e5e5e5;
    border-radius: 0.6rem;
    margin-top: 1rem;
    display: grid;
    padding: 1rem 2rem;
    gap: 0.5rem;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
      color: #666666;
    }
    span {
      font-weight: 500;
      font-size: 1.4rem;
      color: #1a1a1a;
    }
  }

  .total-payment {
    border-radius: 0.6rem;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    height: max-content;

    &__header {
      display: flex;
      justify-content: space-between;
      height: 5rem;
      padding: 0 2rem;
      border-bottom: 1px solid #e5e5e5;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        font-size: 1.4rem;
        line-height: 1.2rem;
        letter-spacing: 0.03em;
        color: #808080;
        font-weight: 500;
        margin-right: 0.6rem;
      }

      p {
        font-weight: 500;
        color: #1a1a1ac3;
        font-size: 1.4rem;
      }
    }

    &__content {
      padding: 1.8rem 2rem;
      &--item {
        display: flex;
        justify-content: space-between;
        padding: 1.3rem 0;
        border-bottom: 1px solid #e5e5e5;

        h5 {
          font-size: 1.4rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #666666;
        }

        p {
          font-size: 1.4rem;
          font-weight: 500;
          color: #1a1a1a;
          text-align: right;
        }

        &:first-child {
          padding: 0 0 1.3rem;
        }

        &:last-child {
          border: unset;
          padding: 1.3rem 0 0;
          h5 {
            font-size: 1.8rem;
            font-weight: 400;
            color: #1a1a1a;
            text-transform: capitalize;
          }

          p {
            font-weight: 600;
            color: #2c742f;
            text-align: right;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  &__table {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    table {
      width: 100%;
      border-spacing: 0;

      .table__header {
        height: 4.5rem;
        background-color: #f2f2f2;
        color: #212529;
        display: grid;
        grid-template-columns:
          minmax(22rem, 1fr) minmax(8rem, 1fr)
          minmax(10rem, 1fr) minmax(10rem, 1fr);
        gap: 1rem;
        align-items: center;
        padding: 0 1.5rem;

        th {
          color: #4d4d4d;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }

      .table__item {
        padding: 1rem 1.5rem;
        display: grid;
        gap: 1rem;
        grid-template-columns:
          minmax(22rem, 1fr) minmax(8rem, 1fr)
          minmax(10rem, 1fr) minmax(10rem, 1fr);
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;

        &:last-child {
          border-bottom: unset;
        }

        &--img {
          display: flex;
          align-items: center;
          column-gap: 1rem;

          img {
            height: 7rem;
            width: 7rem;
            object-fit: contain;
            border-radius: 0.3rem;
          }

          h5 {
            font-size: 1.4rem;
            font-weight: 400;
            color: #1a1a1a;
            text-align: left;

            text-overflow: ellipsis;
            overflow: hidden;
            width: 13rem;
            white-space: nowrap;
          }
        }

        td {
          font-size: 1.4rem;
          font-weight: 400;
          color: #333333;
        }
      }
    }
  }
}

//////////////////////////////////////
/// ORDER DETAILS RESPONSIVE
.order-details {
  @media (max-width: 1000px) {
    &__content {
      &--main {
        grid-template-columns: unset;
      }
    }
  }

  @media (max-width: 800px) {
    &__header {
      padding: 1rem 1.5rem;
    }

    &__content {
      &--main {
        margin: 1.5rem;
      }
    }
    &__notes {
      margin: 1.5rem;
    }
  }

  @media (max-width: 600px) {
    &__header {
      h2 {
        font-size: 1.5rem;
      }

      span {
        font-size: 1.4rem;
      }
    }

    &__address {
      h4 {
        padding: 1rem 1.5rem;
      }
      &--item {
        padding: 1rem 1.5rem;
        row-gap: 0.3rem;
      }
    }

    &__date {
      padding: 1rem 1.5rem;
    }

    .total-payment {
      &__header {
        padding: 0 1.5rem;
        height: 4rem;
      }
      &__content {
        padding: 1rem 1.5rem;
      }
    }
  }
}

///// ORDER STATUS
.progress-bar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 88rem;
  margin: 2rem auto;
  padding: 0 1rem;

  &__border {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 1rem;
    background-color: #f2f2f2;
    z-index: -1;

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      background-color: #00b207;
      border-top-right-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
      transition: all 0.6s linear;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &--ball {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      border: 2px dashed #00b207;
      background-color: #fff;

      span {
        display: none;
        height: 2rem;
        width: 2rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        color: #00b207;
      }
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #2c742f;
      margin-top: 0.8rem;
    }
  }
}

//////////////////////////////////////
/// PROGRESS BAR RESPONSIVE
.progress-bar {
  @media (max-width: 800px) {
    margin: 1.5rem auto;
  }

  @media (max-width: 500px) {
    &__item {
      &--ball {
        width: 3rem;
        height: 3rem;

        span,
        svg {
          height: 1.7rem;
          width: 1.7rem;
        }

        p {
          font-size: 1.1rem;
        }
      }

      h2 {
        font-size: 1.1rem;
      }
    }
  }

  @media (max-width: 400px) {
    padding: 0 0.5rem;
    &__item {
      h2 {
        font-size: 1rem;
      }
    }
  }
}

.active-status {
  h2 {
    font-weight: 500;
  }

  .progress-bar__item--ball {
    background-color: #00b207 !important;

    span {
      display: block;
      color: #fff;
    }

    p {
      display: none;
    }
  }
}
