.sort-by {
  display: flex;
  align-items: center;

  label {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #808080;
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 0.6rem;
    flex-shrink: 0;
  }

  .sort-select {
    color: #fff;
    padding: 0.5rem 0.5rem 0;
    border-radius: 0.6rem;
    font-family: Arial;
    font-size: 1rem;

    .selected-sort {
      min-width: 15rem;
      padding: 1rem 1.6rem;
      border-radius: 0.4rem;
      border: 1px solid #e5e5e5;
      position: relative;
      color: #4d4d4d;
      font-size: 1.4rem;
      font-family: "Poppins", sans-serif;
    }
  }
}

/// COUNTER BUTTON
.counter {
  width: 12.6rem;
  height: 5rem;
  padding: 0 0.8rem;
  border-radius: 17rem;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .decrement,
  .increment {
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #f2f2f2;
    color: #666666;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;

    &:hover {
      color: #1a1a1a;
    }
    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      cursor: default;
      &:active {
        transform: unset;
      }
    }
  }

  .input {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #666666;
    outline: none;
  }
}

// COUNTER BUTTON
.counter-s {
  width: 9rem;
  height: 3.5rem;
  padding: 0.4rem 0.6rem;
  border-radius: 17rem;
  border: 1px solid #e5e5e5;

  .decrement,
  .increment {
    width: 2.5rem;
    height: 2.5rem;
  }

  .input {
    width: 2.7rem;
  }
}

/// RATINGS STARS
.ratings {
  display: flex;
  align-items: center;
  list-style-type: none;

  svg {
    fill: #ff8a00;
    height: 1.8rem !important;
    width: 1.8rem !important;
  }

  &__number {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    color: #666666;
    margin-top: -0.2rem;
    font-weight: 600;
  }
}

.container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

// .stock {
//   font-size: 1.4rem;
//   font-weight: 400;
//   text-transform: capitalize;
//   padding: 0.4rem 0.8rem;
//   border-radius: 0.4rem;
//   margin: 0 0.8rem;
//   flex-shrink: 0;
// }

.stock-in {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  margin: 0 0.8rem;
  background-color: #20b52633;
  color: #2c742f;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
  }
}

.stock-out {
  top: 1.4rem;
  left: 1.4rem;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #ea4b48;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
  }
}

/// SALE OFF BOX
.sale-off {
  background-color: #ea4b481a;
  color: #ea4b48;
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: capitalize;
  font-weight: 500;
}

.warning {
  display: grid;
  row-gap: 0.8rem;
  background-color: #fff;
  height: auto;
  width: 40rem;
  position: fixed;
  z-index: 105;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  @media (max-width: 600px) {
    width: 90%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.5rem;

    h3 {
      font-size: 1.6rem;
      font-weight: 400;
    }

    svg {
      cursor: pointer;
      height: 2rem;
      width: 2rem;
    }
  }

  &__close {
    height: 2rem;
    width: 2rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;

    @media (max-width: 600px) {
      margin: 1rem 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;

    button {
      border-radius: 0.7rem;
      font-size: 1.5rem;
      padding: 0;
      min-width: 10.5rem;
      height: 3.6rem;

      &:last-child {
        background-color: #333333ca;
      }
    }
  }
}

///
.reload {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  border: none;
  background: none;
}

/////
.paypal-modal {
  padding: 1.5rem 1.5rem 0.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.8rem;
  background-color: #fff;
  z-index: 100;
  width: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

////
.error-container {
  margin: 2rem 0;
  text-align: center;

  svg {
    color: red;
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
  }

  h1 {
    color: #ea4b48;
    font-size: 2rem;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    margin: 1rem 0;

    h1 {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 600px) {
    svg {
      height: 12rem;
      width: 12rem;
    }
  }
}

.empty-container {
  @extend .error-container;

  svg {
    color: #2c742f;
    margin-bottom: 0;
  }

  h1 {
    color: #1a1a1a;
    font-size: 3rem;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }

    svg {
      height: 15rem;
      width: 15rem;
    }
  }
}
